.box {
  border: solid black 1px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-img {
  width: 80%;
}

.main {
  display: flex;
  justify-content: center;
}